/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables opcionales de tema */
:root {
  --bg: #0a0a0a;
  --fg: #e5e5e5;
}

html, body {
  height: 100%;
}

body {
  background: var(--bg);
  color: var(--fg);
}

/* Tipografías si usas Next Fonts */
/* .font-sans { font-family: var(--font-sans), ui-sans-serif, system-ui, -apple-system; } */
